In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.master('local[2]').appName('sqlcode').getOrCreate()

In [5]:
spark

In [6]:
ppl = spark.read.format('json').load(r'C:\Users\Krishna\data\people.json')

In [7]:
type(ppl)

pyspark.sql.dataframe.DataFrame

In [9]:
ppl.columns

['age', 'name', 'pcode']

In [10]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [11]:
ppl.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true),StructField(pcode,StringType,true)))

In [12]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [13]:
ppl.collect()

[Row(age=None, name='Alice', pcode='94304'),
 Row(age=30, name='Brayden', pcode='94304'),
 Row(age=19, name='Carla', pcode='10036'),
 Row(age=46, name='Diana', pcode=None),
 Row(age=None, name='Etienne', pcode='94104')]

In [14]:
acc_par = spark.read.format('parquet').load(r'C:\Users\Krishna\data\accounts_parquet\accounts_parquet')

In [15]:
acc_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [16]:
acc_par.show(2)

+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|            address|      city|state|zipcode|phone_number|      created|     modified|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|   32441| 1341603329000|         null|     Peter|  Zachary| 1891 Jessie Street|Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
|   32442| 1345273687000|         null|     Duane|     Ruiz|1023 Simpson Street|  Pasadena|   CA|  91051|  6262472463|1395174646000|1395174646000|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
only showing top 2 rows

In [17]:
acc_par.count()

97320

In [18]:
pc = spark.read.format('text').load(r'C:\Users\Krishna\data\purplecow.txt')

In [19]:
pc.printSchema()

root
 |-- value: string (nullable = true)

In [21]:
pc.count()

4

In [37]:
lat = spark.read.format('csv').option('sep','\t')\
.option('inferSchema',True).load(r'C:\Users\Krishna\data\latlon.tsv')

In [38]:
lat.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)

In [39]:
lat.show(4)

+---+---------+----------+
|_c0|      _c1|       _c2|
+---+---------+----------+
|210|43.005895|-71.013202|
|211|43.005895|-71.013202|
|212|43.005895|-71.013202|
|213|43.005895|-71.013202|
+---+---------+----------+
only showing top 4 rows

In [41]:
from pyspark.sql.types import *

In [42]:
sch = StructType([StructField('citycode',IntegerType(),True),\
                 StructField('lattitude',DoubleType(),True),\
                 StructField('longitude',DoubleType(),True)])

In [43]:
latlon = spark.read.format('csv').option('sep','\t')\
.schema(sch).load(r'C:\Users\Krishna\data\latlon.tsv')

In [44]:
latlon.printSchema()

root
 |-- citycode: integer (nullable = true)
 |-- lattitude: double (nullable = true)
 |-- longitude: double (nullable = true)

In [45]:
latlon.show(3)

+--------+---------+----------+
|citycode|lattitude| longitude|
+--------+---------+----------+
|     210|43.005895|-71.013202|
|     211|43.005895|-71.013202|
|     212|43.005895|-71.013202|
+--------+---------+----------+
only showing top 3 rows