In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.master('local[2]').appName('firstcode').getOrCreate()

In [5]:
spark

In [6]:
ppl = spark.read.json(r'C:\Users\Krishna\data\people.json')

In [7]:
type(ppl)

pyspark.sql.dataframe.DataFrame

In [8]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [9]:
ppl.columns

['age', 'name', 'pcode']

In [10]:
ppl.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true),StructField(pcode,StringType,true)))

In [11]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [12]:
ppl.collect()

[Row(age=None, name='Alice', pcode='94304'),
 Row(age=30, name='Brayden', pcode='94304'),
 Row(age=19, name='Carla', pcode='10036'),
 Row(age=46, name='Diana', pcode=None),
 Row(age=None, name='Etienne', pcode='94104')]

In [13]:
ppl= spark.read.format('json').load(r'C:\Users\Krishna\data\people.json')

In [14]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [15]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [18]:
ppl1= spark.read.format('json').load(r'C:\Users\Krishna\data\people1.json')

In [19]:
ppl1.printSchema()

root
 |-- city: string (nullable = true)
 |-- creditcard: string (nullable = true)
 |-- email: string (nullable = true)
 |-- mac: string (nullable = true)
 |-- name: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [20]:
ppl1.count()

10000

In [21]:
acc_par = spark.read.format('parquet').load(r'C:\Users\Krishna\data\accounts_parquet\accounts_parquet')

In [22]:
acc_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [23]:
acc_par.show(2)

+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|            address|      city|state|zipcode|phone_number|      created|     modified|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|   32441| 1341603329000|         null|     Peter|  Zachary| 1891 Jessie Street|Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
|   32442| 1345273687000|         null|     Duane|     Ruiz|1023 Simpson Street|  Pasadena|   CA|  91051|  6262472463|1395174646000|1395174646000|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
only showing top 2 rows

In [24]:
acc_par.count()

97320