In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master('local[2]').appName('firstcode').getOrCreate()

In [4]:
spark

In [5]:
spark.sparkContext.setLogLevel('ERROR')

In [6]:
ppl = spark.read.json(r'C:\Users\Krishna\data\people.json')

In [7]:
type(ppl)

pyspark.sql.dataframe.DataFrame

In [8]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [9]:
ppl.columns

['age', 'name', 'pcode']

In [10]:
ppl.schema

StructType(List(StructField(age,LongType,true),StructField(name,StringType,true),StructField(pcode,StringType,true)))

In [11]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [12]:
ppl.collect()

[Row(age=None, name='Alice', pcode='94304'),
 Row(age=30, name='Brayden', pcode='94304'),
 Row(age=19, name='Carla', pcode='10036'),
 Row(age=46, name='Diana', pcode=None),
 Row(age=None, name='Etienne', pcode='94104')]

In [13]:
ppl= spark.read.format('json').load(r'C:\Users\Krishna\data\people.json')

In [14]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [15]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [16]:
ppl1= spark.read.format('json').load(r'C:\Users\Krishna\data\people1.json')

In [17]:
ppl1.printSchema()

root
 |-- city: string (nullable = true)
 |-- creditcard: string (nullable = true)
 |-- email: string (nullable = true)
 |-- mac: string (nullable = true)
 |-- name: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [18]:
ppl1.count()

10000

In [19]:
acc_par = spark.read.format('parquet').load(r'C:\Users\Krishna\data\accounts_parquet\accounts_parquet')

In [20]:
acc_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [21]:
acc_par.show(2)

+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|            address|      city|state|zipcode|phone_number|      created|     modified|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
|   32441| 1341603329000|         null|     Peter|  Zachary| 1891 Jessie Street|Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
|   32442| 1345273687000|         null|     Duane|     Ruiz|1023 Simpson Street|  Pasadena|   CA|  91051|  6262472463|1395174646000|1395174646000|
+--------+--------------+-------------+----------+---------+-------------------+----------+-----+-------+------------+-------------+-------------+
only showing top 2 rows

In [22]:
acc_par.count()

97320

In [23]:
latdata = spark.read.format('csv').load(r'C:\Users\Krishna\data\latlon.tsv')

In [24]:
latdata.printSchema()

root
 |-- _c0: string (nullable = true)

In [25]:
latdata.show(3)

+--------------------+
|                 _c0|
+--------------------+
|0210\t43.005895\t...|
|00211\t43.005895\...|
|00212\t43.005895\...|
+--------------------+
only showing top 3 rows

In [26]:
latdata = spark.read.format('csv').option('sep','\t')\
.load(r'C:\Users\Krishna\data\latlon.tsv')

In [27]:
latdata.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)

In [28]:
latdata.show(2)

+-----+---------+----------+
|  _c0|      _c1|       _c2|
+-----+---------+----------+
| 0210|43.005895|-71.013202|
|00211|43.005895|-71.013202|
+-----+---------+----------+
only showing top 2 rows

In [35]:
latdata = spark.read.format('csv').option('sep','\t').option('inferSchema',True)\
.option('header',True).load(r'C:\Users\Krishna\data\latlon.tsv')

In [36]:
latdata.printSchema()

root
 |-- id: integer (nullable = true)
 |-- lat: double (nullable = true)
 |-- longi: double (nullable = true)

In [37]:
latdata.show(3)

+---+---------+----------+
| id|      lat|     longi|
+---+---------+----------+
|210|43.005895|-71.013202|
|211|43.005895|-71.013202|
|212|43.005895|-71.013202|
+---+---------+----------+
only showing top 3 rows

In [38]:
latdata.schema

StructType(List(StructField(id,IntegerType,true),StructField(lat,DoubleType,true),StructField(longi,DoubleType,true)))

In [39]:
from pyspark.sql.types import *

In [40]:
sch = StructType([\
                 StructField("code",IntegerType(),True),\
                 StructField("Longitude",FloatType(),True),\
                 StructField("Lattitude",DoubleType(),True)])

In [42]:
latlon = spark.read.format('csv')\
.option('sep','\t')\
.schema(sch)\
.load(r'C:\Users\Krishna\data\latlon.tsv')

In [43]:
latlon.printSchema()

root
 |-- code: integer (nullable = true)
 |-- Longitude: float (nullable = true)
 |-- Lattitude: double (nullable = true)

In [44]:
latlon.show(3)

+----+---------+----------+
|code|Longitude| Lattitude|
+----+---------+----------+
| 210|43.005894|-71.013202|
| 211|43.005894|-71.013202|
| 212|43.005894|-71.013202|
+----+---------+----------+
only showing top 3 rows

In [49]:
schppl = StructType([\
                    StructField("name",StringType(),True),\
                    StructField("pcode",StringType(),True),\
                    StructField("age",IntegerType(),True)])

In [50]:
ppl1 = spark.read.format('json').schema(schppl).load(r'C:\Users\Krishna\data\people.json')

In [51]:
ppl1.show()

+-------+-----+----+
|   name|pcode| age|
+-------+-----+----+
|  Alice|94304|null|
|Brayden|94304|  30|
|  Carla|10036|  19|
|  Diana| null|  46|
|Etienne|94104|null|
+-------+-----+----+

In [52]:
ppl.show(2)

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
+----+-------+-----+
only showing top 2 rows

In [53]:
res = ppl.limit(2)
res.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
+----+-------+-----+

In [54]:
ppl.select('name','age').show()

+-------+----+
|   name| age|
+-------+----+
|  Alice|null|
|Brayden|  30|
|  Carla|  19|
|  Diana|  46|
|Etienne|null|
+-------+----+

In [55]:
ppl.select(ppl['name'],ppl['age']).show()

+-------+----+
|   name| age|
+-------+----+
|  Alice|null|
|Brayden|  30|
|  Carla|  19|
|  Diana|  46|
|Etienne|null|
+-------+----+

In [56]:
ppl.select(ppl.name,ppl.age).show()

+-------+----+
|   name| age|
+-------+----+
|  Alice|null|
|Brayden|  30|
|  Carla|  19|
|  Diana|  46|
|Etienne|null|
+-------+----+

In [57]:
from pyspark.sql.functions import col

In [58]:
ppl.select(col('name'),col('age')).show()

+-------+----+
|   name| age|
+-------+----+
|  Alice|null|
|Brayden|  30|
|  Carla|  19|
|  Diana|  46|
|Etienne|null|
+-------+----+

In [59]:
ppl.where(ppl.age>30).show()

+---+-----+-----+
|age| name|pcode|
+---+-----+-----+
| 46|Diana| null|
+---+-----+-----+

In [63]:
ppl.where((ppl.age>20) & (ppl.age<=30)).select('name','age').show()

+-------+---+
|   name|age|
+-------+---+
|Brayden| 30|
+-------+---+

In [64]:
ppl.where((ppl.age>20) | (ppl.age<=30)).select('name','age').show()

+-------+---+
|   name|age|
+-------+---+
|Brayden| 30|
|  Carla| 19|
|  Diana| 46|
+-------+---+

In [65]:
ppl.orderBy('age').show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|null|Etienne|94104|
|  19|  Carla|10036|
|  30|Brayden|94304|
|  46|  Diana| null|
+----+-------+-----+

In [66]:
ppl.orderBy(ppl.age.desc()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  46|  Diana| null|
|  30|Brayden|94304|
|  19|  Carla|10036|
|null|  Alice|94304|
|null|Etienne|94104|
+----+-------+-----+

In [67]:
ppl.orderBy(ppl['pcode'].desc(),col('name').desc()).show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  30|Brayden|94304|
|null|  Alice|94304|
|null|Etienne|94104|
|  19|  Carla|10036|
|  46|  Diana| null|
+----+-------+-----+

In [69]:
acc_par.groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
|   AZ| 8614|
|   OR|10166|
|   NV| 8093|
|   CA|70447|
+-----+-----+

In [70]:
acc_par.groupBy('state','city').count().show()

+-----+---------------+-----+
|state|           city|count|
+-----+---------------+-----+
|   CA|        Oakland| 2718|
|   CA|       Stockton| 2536|
|   AZ|      Flagstaff|  804|
|   CA|     Long Beach| 3380|
|   NV|      Las Vegas| 3066|
|   AZ|        Phoenix| 3142|
|   OR|         Eugene| 1162|
|   CA|       Torrance| 1071|
|   CA|North Hollywood| 1126|
|   CA|       San Jose| 2550|
|   CA|      Palo Alto| 1372|
|   CA|       Richmond| 1361|
|   AZ|        Kingman|  795|
|   CA|       Alhambra| 1106|
|   NV|            Ely|  987|
|   CA|         Fresno| 3342|
|   CA|       Berkeley| 1310|
|   CA|     Marysville| 1292|
|   NV|           Elko| 1001|
|   CA|         Oxnard| 1145|
+-----+---------------+-----+
only showing top 20 rows

In [71]:
acc_par.groupBy('state','city').count().where(col('count')>4000).show()

+-----+----------+-----+
|state|      city|count|
+-----+----------+-----+
|   CA|Sacramento| 5318|
+-----+----------+-----+

In [72]:
ppl.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
|null|Etienne|94104|
+----+-------+-----+

In [73]:
ppl2 = ppl.withColumn('id',ppl.age+10)

In [74]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [75]:
ppl2.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)
 |-- id: long (nullable = true)

In [76]:
ppl2.show()

+----+-------+-----+----+
| age|   name|pcode|  id|
+----+-------+-----+----+
|null|  Alice|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|  46|  Diana| null|  56|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [77]:
ppl3 = ppl2.withColumnRenamed('id','code')

In [78]:
ppl2.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)
 |-- id: long (nullable = true)

In [79]:
ppl2.show()

+----+-------+-----+----+
| age|   name|pcode|  id|
+----+-------+-----+----+
|null|  Alice|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|  46|  Diana| null|  56|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [80]:
ppl3.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)
 |-- code: long (nullable = true)

In [81]:
ppl3.show()

+----+-------+-----+----+
| age|   name|pcode|code|
+----+-------+-----+----+
|null|  Alice|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|  46|  Diana| null|  56|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [85]:
ppl3.drop('code','age').show()

+-------+-----+
|   name|pcode|
+-------+-----+
|  Alice|94304|
|Brayden|94304|
|  Carla|10036|
|  Diana| null|
|Etienne|94104|
+-------+-----+

In [86]:
ppl3.na.drop().show()

+---+-------+-----+----+
|age|   name|pcode|code|
+---+-------+-----+----+
| 30|Brayden|94304|  40|
| 19|  Carla|10036|  29|
+---+-------+-----+----+

In [87]:
ppl3.na.drop(how='all').show()

+----+-------+-----+----+
| age|   name|pcode|code|
+----+-------+-----+----+
|null|  Alice|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|  46|  Diana| null|  56|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [88]:
ppl3.na.drop(subset='pcode').show()

+----+-------+-----+----+
| age|   name|pcode|code|
+----+-------+-----+----+
|null|  Alice|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [89]:
ppl3.na.fill(2).show()

+---+-------+-----+----+
|age|   name|pcode|code|
+---+-------+-----+----+
|  2|  Alice|94304|   2|
| 30|Brayden|94304|  40|
| 19|  Carla|10036|  29|
| 46|  Diana| null|  56|
|  2|Etienne|94104|   2|
+---+-------+-----+----+

In [90]:
ppl3.na.fill({'age':10,'code':100}).show()

+---+-------+-----+----+
|age|   name|pcode|code|
+---+-------+-----+----+
| 10|  Alice|94304| 100|
| 30|Brayden|94304|  40|
| 19|  Carla|10036|  29|
| 46|  Diana| null|  56|
| 10|Etienne|94104| 100|
+---+-------+-----+----+

In [91]:
ppl3.na.replace('Alice','Smith').show()

+----+-------+-----+----+
| age|   name|pcode|code|
+----+-------+-----+----+
|null|  Smith|94304|null|
|  30|Brayden|94304|  40|
|  19|  Carla|10036|  29|
|  46|  Diana| null|  56|
|null|Etienne|94104|null|
+----+-------+-----+----+

In [92]:
ppl.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)
 |-- pcode: string (nullable = true)

In [93]:
ppl.count()

5

In [94]:
acc_par.printSchema()

root
 |-- acct_num: integer (nullable = true)
 |-- acct_create_dt: long (nullable = true)
 |-- acct_close_dt: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)
 |-- zipcode: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- created: long (nullable = true)
 |-- modified: long (nullable = true)

In [95]:
acc_par.count()

97320

In [96]:
cj = ppl.crossJoin(acc_par)
cj.count()

486600

In [97]:
cj.show(2)

+----+-------+-----+--------+--------------+-------------+----------+---------+------------------+----------+-----+-------+------------+-------------+-------------+
| age|   name|pcode|acct_num|acct_create_dt|acct_close_dt|first_name|last_name|           address|      city|state|zipcode|phone_number|      created|     modified|
+----+-------+-----+--------+--------------+-------------+----------+---------+------------------+----------+-----+-------+------------+-------------+-------------+
|null|  Alice|94304|   32441| 1341603329000|         null|     Peter|  Zachary|1891 Jessie Street|Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
|  30|Brayden|94304|   32441| 1341603329000|         null|     Peter|  Zachary|1891 Jessie Street|Long Beach|   CA|  90743|  5628719002|1395174646000|1395174646000|
+----+-------+-----+--------+--------------+-------------+----------+---------+------------------+----------+-----+-------+------------+-------------+-------------+
only showing top 2 rows

In [99]:
ij = ppl.join(acc_par,ppl.pcode==acc_par.zipcode)
ij.count()

33

In [100]:
loj =ppl.join(acc_par,ppl.pcode==acc_par.zipcode,'left')
loj.count()

35

In [101]:
roj = ppl.join(acc_par,ppl.pcode==acc_par.zipcode,'right_outer')
roj.count()

97331

In [102]:
foj = ppl.join(acc_par,ppl.pcode==acc_par.zipcode,'fullouter')
foj.count()

97333

In [103]:
lsj = ppl.join(acc_par,ppl.pcode==acc_par.zipcode,'semi')
lsj.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|null|  Alice|94304|
|  30|Brayden|94304|
|null|Etienne|94104|
+----+-------+-----+

In [104]:
asj = ppl.join(acc_par,ppl.pcode==acc_par.zipcode,'anti')
asj.show()

+---+-----+-----+
|age| name|pcode|
+---+-----+-----+
| 19|Carla|10036|
| 46|Diana| null|
+---+-----+-----+

In [105]:
textdata = spark.read.format('text').load(r'C:\Users\Krishna\data\spark_python_code\data_text')

In [106]:
textdata.printSchema()

root
 |-- value: string (nullable = true)

In [107]:
textdata.show()

+--------------------+
|               value|
+--------------------+
|Two roads diverge...|
|And sorry I could...|
|And be one travel...|
|And looked down o...|
|To where it bent ...|
|                    |
|Then took the oth...|
|And having perhap...|
|Because it was gr...|
|Though as for tha...|
|Had worn them rea...|
|                    |
|And both that mor...|
|In leaves no step...|
|Oh, I kept the fi...|
|Yet knowing how w...|
|I doubted if I sh...|
|                    |
|I shall be tellin...|
|Somewhere ages an...|
+--------------------+
only showing top 20 rows

In [108]:
textdata.count()

27

In [109]:
textdata.na.drop().count()

27

In [110]:
from pyspark.sql.functions import *

In [114]:
wordsdf = textdata.select(explode(split('value',' ')).alias('data'))
wordsdf.show(3)

+--------+
|    data|
+--------+
|     Two|
|   roads|
|diverged|
+--------+
only showing top 3 rows

In [113]:
wordsdf.count()

171

In [115]:
wordsdf.groupBy('data').count().show()

+-------+-----+
|   data|count|
+-------+-----+
| travel|    1|
|trodden|    1|
|  could|    2|
|   down|    1|
|    not|    1|
|    by,|    1|
| yellow|    1|
| claim,|    1|
|     In|    1|
|  there|    1|
|   bent|    1|
|    was|    1|
|    for|    2|
|    how|    1|
|passing|    1|
| looked|    1|
| black.|    1|
|    I--|    1|
|    one|    3|
|     in|    3|
+-------+-----+
only showing top 20 rows

In [116]:
schw = StructType([\
                  StructField('name',StringType(),True),\
                  StructField('Department',StringType(),True),\
                  StructField('salary',IntegerType(),True)])

In [117]:
df = spark.read.format('csv').schema(schw).load(r'C:\Users\Krishna\data\windowdata.txt')

In [118]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: integer (nullable = true)

In [119]:
df.show()

+-------+----------+------+
|   name|Department|salary|
+-------+----------+------+
|  James|     Sales|  3000|
|Michael|     Sales|  4600|
| Robert|     Sales|  4100|
|  Maria|   Finance|  3000|
|    Ram|     Sales|  3000|
|  Scott|   Finance|  3300|
|    Jen|   Finance|  3900|
|   Jeff| Marketing|  3000|
|  Kumar| Marketing|  2000|
| Sundar|     Sales|  4100|
|   Amit|     Sales|  4600|
+-------+----------+------+

In [120]:
df.groupBy('Department').max('salary').show()

+----------+-----------+
|Department|max(salary)|
+----------+-----------+
|     Sales|       4600|
|   Finance|       3900|
| Marketing|       3000|
+----------+-----------+

In [121]:
from pyspark.sql.window import *

In [122]:
win1 = Window.partitionBy('Department')

In [123]:
res = df.withColumn('msal', max('salary').over(win1))
res.show()

+-------+----------+------+----+
|   name|Department|salary|msal|
+-------+----------+------+----+
|  Maria|   Finance|  3000|3900|
|  Scott|   Finance|  3300|3900|
|    Jen|   Finance|  3900|3900|
|   Jeff| Marketing|  3000|3000|
|  Kumar| Marketing|  2000|3000|
|  James|     Sales|  3000|4600|
|Michael|     Sales|  4600|4600|
| Robert|     Sales|  4100|4600|
|    Ram|     Sales|  3000|4600|
| Sundar|     Sales|  4100|4600|
|   Amit|     Sales|  4600|4600|
+-------+----------+------+----+

In [124]:
res = df.withColumn('msal', max('salary').over(win1)- col('salary'))
res.show()

+-------+----------+------+----+
|   name|Department|salary|msal|
+-------+----------+------+----+
|  Maria|   Finance|  3000| 900|
|  Scott|   Finance|  3300| 600|
|    Jen|   Finance|  3900|   0|
|   Jeff| Marketing|  3000|   0|
|  Kumar| Marketing|  2000|1000|
|  James|     Sales|  3000|1600|
|Michael|     Sales|  4600|   0|
| Robert|     Sales|  4100| 500|
|    Ram|     Sales|  3000|1600|
| Sundar|     Sales|  4100| 500|
|   Amit|     Sales|  4600|   0|
+-------+----------+------+----+

In [125]:
win2 = Window.partitionBy('Department').orderBy('salary')

In [127]:
res = df.withColumn('rank', rank().over(win2))
res.show()

+-------+----------+------+----+
|   name|Department|salary|rank|
+-------+----------+------+----+
|  Maria|   Finance|  3000|   1|
|  Scott|   Finance|  3300|   2|
|    Jen|   Finance|  3900|   3|
|  Kumar| Marketing|  2000|   1|
|   Jeff| Marketing|  3000|   2|
|  James|     Sales|  3000|   1|
|    Ram|     Sales|  3000|   1|
| Robert|     Sales|  4100|   3|
| Sundar|     Sales|  4100|   3|
|Michael|     Sales|  4600|   5|
|   Amit|     Sales|  4600|   5|
+-------+----------+------+----+

In [130]:
acc_par.createTempView('accounts')

AnalysisException: Temporary view 'accounts' already exists

In [129]:
spark.catalog.listTables()

[Table(name='accounts', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [131]:
spark.catalog.dropTempView('accounts')

In [132]:
spark.catalog.listTables()

[]

In [134]:
acc_par.createOrReplaceTempView('accounts')

In [136]:
res = spark.sql('select state,city,count(*) cnt from accounts group by state,city having cnt>4000')
res.show()

+-----+----------+----+
|state|      city| cnt|
+-----+----------+----+
|   CA|Sacramento|5318|
+-----+----------+----+

In [141]:
ppl= spark.read.format('json').load(r'c:\users\krishna\data\people.json')

In [147]:
ppl.rdd.getNumPartitions()

1

In [145]:
ppl.rdd.glom().collect()

[[Row(age=None, name='Alice', pcode='94304'),
  Row(age=30, name='Brayden', pcode='94304'),
  Row(age=19, name='Carla', pcode='10036'),
  Row(age=46, name='Diana', pcode=None),
  Row(age=None, name='Etienne', pcode='94104')]]

In [146]:
ppp2= ppl.repartition(3)

In [148]:
ppp2.rdd.getNumPartitions()

3

In [149]:
ppp2.rdd.glom().collect()

[[Row(age=30, name='Brayden', pcode='94304'),
  Row(age=None, name='Etienne', pcode='94104')],
 [Row(age=None, name='Alice', pcode='94304'),
  Row(age=19, name='Carla', pcode='10036')],
 [Row(age=46, name='Diana', pcode=None)]]

In [150]:
ppp2.show()

+----+-------+-----+
| age|   name|pcode|
+----+-------+-----+
|  30|Brayden|94304|
|null|Etienne|94104|
|null|  Alice|94304|
|  19|  Carla|10036|
|  46|  Diana| null|
+----+-------+-----+

In [155]:
ppp3= ppp2.coalesce(2)

In [156]:
ppp3.rdd.getNumPartitions()

2

In [157]:
res = ppp3.groupBy('pcode').count()
res.show()

+-----+-----+
|pcode|count|
+-----+-----+
|94104|    1|
| null|    1|
|94304|    2|
|10036|    1|
+-----+-----+

In [158]:
ppp4 = ppl.repartitionByRange(3,'pcode')

In [159]:
ppp4.rdd.getNumPartitions()

3

In [160]:
ppl.join(acc_par,ppl.pcode==acc_par.zipcode).count()

33

In [161]:
from pyspark.sql.functions import broadcast

In [163]:
res=acc_par.join(broadcast(ppl),ppl.pcode==acc_par.zipcode)

In [164]:
res.explain()

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- BroadcastHashJoin [zipcode#99], [pcode#1663], Inner, BuildRight, false
   :- Filter isnotnull(zipcode#99)
   :  +- FileScan parquet [acct_num#91,acct_create_dt#92L,acct_close_dt#93L,first_name#94,last_name#95,address#96,city#97,state#98,zipcode#99,phone_number#100,created#101L,modified#102L] Batched: true, DataFilters: [isnotnull(zipcode#99)], Format: Parquet, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/Krishna/data/accounts_parquet/accounts_parquet], PartitionFilters: [], PushedFilters: [IsNotNull(zipcode)], ReadSchema: struct<acct_num:int,acct_create_dt:bigint,acct_close_dt:bigint,first_name:string,last_name:string...
   +- BroadcastExchange HashedRelationBroadcastMode(List(input[2, string, false]),false), [plan_id=2694]
      +- Filter isnotnull(pcode#1663)
         +- FileScan json [age#1661L,name#1662,pcode#1663] Batched: false, DataFilters: [isnotnull(pcode#1663)], Format: JSON, Location: InMemoryFileIndex(1 paths)[file:/c:/users/krishna/data/people.json], PartitionFilters: [], PushedFilters: [IsNotNull(pcode)], ReadSchema: struct<age:bigint,name:string,pcode:string>