In [1]:
import findspark
findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

spark= SparkSession.builder.config("spark.jars.packages","mysql:mysql-connector-java:8.0.28").getOrCreate()

In [3]:
emp = spark.read.format("jdbc").option("url","jdbc:mysql://localhost:3306/hr_db").option("driver","com.mysql.cj.jdbc.Driver").option("user","root").option("password","Itversity2022").option("dbtable","employees").load()
emp.show()

+-----------+-----------+----------+--------+------------+----------+----------+--------+--------------+----------+-------------+
|employee_id| first_name| last_name|   email|phone_number| hire_date|    job_id|  salary|commission_pct|manager_id|department_id|
+-----------+-----------+----------+--------+------------+----------+----------+--------+--------------+----------+-------------+
|        100|     Steven|      King|   SKING|515.123.4567|1987-06-17|   AD_PRES|24000.00|          null|      null|           90|
|        101|      Neena|   Kochhar|NKOCHHAR|515.123.4568|1989-09-21|     AD_VP|17000.00|          null|       100|           90|
|        102|        Lex|   De Haan| LDEHAAN|515.123.4569|1993-01-13|     AD_VP|17000.00|          null|       100|           90|
|        103|  Alexander|    Hunold| AHUNOLD|590.423.4567|1990-01-03|   IT_PROG| 9000.00|          null|       102|           60|
|        104|      Bruce|     Ernst|  BERNST|590.423.4568|1991-05-21|   IT_PROG| 6000.00|          null|       103|           60|
|        105|      David|    Austin| DAUSTIN|590.423.4569|1997-06-25|   IT_PROG| 4800.00|          null|       103|           60|
|        106|      Valli| Pataballa|VPATABAL|590.423.4560|1998-02-05|   IT_PROG| 4800.00|          null|       103|           60|
|        107|      Diana|   Lorentz|DLORENTZ|590.423.5567|1999-02-07|   IT_PROG| 4200.00|          null|       103|           60|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569|1994-08-17|    FI_MGR|12000.00|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169|1994-08-16|FI_ACCOUNT| 9000.00|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269|1997-09-28|FI_ACCOUNT| 8200.00|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369|1997-09-30|FI_ACCOUNT| 7700.00|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469|1998-03-07|FI_ACCOUNT| 7800.00|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567|1999-12-07|FI_ACCOUNT| 6900.00|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561|1994-12-07|    PU_MAN|11000.00|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562|1995-05-18|  PU_CLERK| 3100.00|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563|1997-12-24|  PU_CLERK| 2900.00|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564|1997-07-24|  PU_CLERK| 2800.00|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565|1998-11-15|  PU_CLERK| 2600.00|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566|1999-08-10|  PU_CLERK| 2500.00|          null|       114|           30|
+-----------+-----------+----------+--------+------------+----------+----------+--------+--------------+----------+-------------+
only showing top 20 rows

In [4]:
emp.printSchema()

root
 |-- employee_id: integer (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- hire_date: date (nullable = true)
 |-- job_id: string (nullable = true)
 |-- salary: decimal(8,2) (nullable = true)
 |-- commission_pct: decimal(2,2) (nullable = true)
 |-- manager_id: integer (nullable = true)
 |-- department_id: integer (nullable = true)

In [4]:
sch = StructType([StructField("department_id",IntegerType(),True),StructField("managerId",StringType(),True),StructField("locationId",IntegerType(),True)])

In [5]:
df = spark.readStream.format("socket").option("host","localhost").option("port",2222).load()

In [8]:
df.printSchema()

root
 |-- value: string (nullable = true)

In [6]:
valueDF = df.select(from_json(col("value").cast("string"), sch).alias("value"))

In [10]:
valueDF.printSchema()

root
 |-- value: struct (nullable = true)
 |    |-- department_id: integer (nullable = true)
 |    |-- managerId: string (nullable = true)
 |    |-- locationId: integer (nullable = true)

In [7]:
tradeDF = valueDF.select("value.*")

In [12]:
tradeDF.printSchema()

root
 |-- department_id: integer (nullable = true)
 |-- managerId: string (nullable = true)
 |-- locationId: integer (nullable = true)

In [8]:
j1= emp.join(tradeDF,emp.department_id==tradeDF.department_id,"inner")

In [ ]:
j1.writeStream\
      .format("console").outputMode("update")\
      .option("checkpointLocation", "chk134").trigger(processingTime='1 minute')\
      .start().awaitTermination()